language: ruby
rvm:
- 2.2
#- 2.1
#- 2.0
- 1.9.3

#cache:
#  directories:
#  - role-tester-ansible-master/.bootci/venv-ansible1.4
#  - role-tester-ansible-master/.bootci/venv-ansible1.4.4
#  - role-tester-ansible-master/.bootci/venv-ansible1.5.4
#  - role-tester-ansible-master/.bootci/venv-ansible1.6.1
#  - role-tester-ansible-master/.bootci/venv-ansible1.7.2
#  - role-tester-ansible-master/.bootci/venv-ansible1.8.4
#  - role-tester-ansible-master/.bootci/venv-ansible1.9.2
#  - role-tester-ansible-master/.bootci/venv-ansible2.0.0.2
#  - role-tester-ansible-master/.bootci/venv-ansible2.1.0.0
#  - role-tester-ansible-master/.bootci/venv-ansible2.5.1
#  - role-tester-ansible-master/vendor/bundle

env:
- DOCKER_IMAGES=centos:7 ANSIBLE_VERSIONS=1.4.4
- DOCKER_IMAGES=centos:7 ANSIBLE_VERSIONS=1.5.4
- DOCKER_IMAGES=centos:7 ANSIBLE_VERSIONS=1.9.2
- DOCKER_IMAGES=centos:7 ANSIBLE_VERSIONS=2.1.0.0
- DOCKER_IMAGES=debian:7 ANSIBLE_VERSIONS=1.4.4
- DOCKER_IMAGES=debian:7 ANSIBLE_VERSIONS=1.5.4
- DOCKER_IMAGES=debian:7 ANSIBLE_VERSIONS=1.9.2
- DOCKER_IMAGES=debian:7 ANSIBLE_VERSIONS=2.1.0.0
- DOCKER_IMAGES=fedora:20 ANSIBLE_VERSIONS=1.4.4
- DOCKER_IMAGES=fedora:20 ANSIBLE_VERSIONS=1.5.4
- DOCKER_IMAGES=fedora:20 ANSIBLE_VERSIONS=1.9.2
- DOCKER_IMAGES=fedora:20 ANSIBLE_VERSIONS=2.1.0.0
- DOCKER_IMAGES=fedora:24 ANSIBLE_VERSIONS=1.4.4
- DOCKER_IMAGES=fedora:24 ANSIBLE_VERSIONS=1.5.4
- DOCKER_IMAGES=fedora:24 ANSIBLE_VERSIONS=1.9.2
- DOCKER_IMAGES=fedora:24 ANSIBLE_VERSIONS=2.1.0.0
- DOCKER_IMAGES=ubuntu:12.04 ANSIBLE_VERSIONS=1.4.4
- DOCKER_IMAGES=ubuntu:12.04 ANSIBLE_VERSIONS=1.5.4
- DOCKER_IMAGES=ubuntu:12.04 ANSIBLE_VERSIONS=1.9.2
- DOCKER_IMAGES=ubuntu:12.04 ANSIBLE_VERSIONS=2.1.0.0
- DOCKER_IMAGES=ubuntu:16.04 ANSIBLE_VERSIONS=1.4.4
- DOCKER_IMAGES=ubuntu:16.04 ANSIBLE_VERSIONS=1.5.4
- DOCKER_IMAGES=ubuntu:16.04 ANSIBLE_VERSIONS=1.9.2
- DOCKER_IMAGES=ubuntu:16.04 ANSIBLE_VERSIONS=2.1.0.0
services:
- docker
script:
  - wget -O- bit.ly/ansibletest | sh -x
after_failure:
- cat role-tester-ansible-master/.kitchen.yml
- cat role-tester-ansible-master/.kitchen.local.yml
- cat role-tester-ansible-master/.kitchen/logs/*.log | grep -v '^I, '
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: Ik1yq73B4KNEJixrNRv45/W/HuFOlGkInlom7ffWR0tV64LItJ+ZsNxauCn2NylzP8ggwfjGYKEez5b8foLSZmLAAZUyKNDZl0024SVqwMTqbFo9vI35mhyUExhIhBvCY/qSTmIri+jWNPcALCApbP3hnuTfwLuBuIxXQMxj0x/TTwyr43odllo3+xiejV+6/GdgvPHlE3H8GR1dLYRG2zym7BnyGeFexH/CKv0xHMORwk9TjkV4Ky9wUIIy2nn/D32Z8zUzeWCoo/xNeenMdrZHwerEuCyWRz5sIymtyavJqMsEkfIzXWPRCKOgg1xp1V0Y6t8LBNaBwAqdE4oQkZaWTJBt6lW0uoPdmYzrJwRdqjzlPg5kSH9L9556+Q5JCTzrOg1HBOZR0oj+DOdJw9iJ5k3Vo3pyGCod24tSfPuQ8A9599ZMV7+n1GGdJtVsj27i5+FOMBHLXOJwcxn0BMMw5/GkiCvGLbNAlMNm9ZCW3oYPZL2p1JR3EJvVTXmtWSV44HSJiqzcg0pza9LIzO0fbmWL4HOhSDFJQwJgtR7SlMaUjv0a1HDBS2FI+xJxFCb0pKzBmwQSs9gSV5XrfV2Pfj4sfz9eyHklCCvPldmX0xuK94+hB5xeXZBJdWhdRJxINFiwBqlRZAxpmfpUfXECN2O00+n8bEX1FMpCzKU=
  email:
    recipients:
      secure: VhRFFc651xpvxmcL2xjIchG5EubOzM3JqdyFwswzFXMOhtyeuurQSxIDY+Y9ds369SWifbo3OcQcSGBA4vi/A5AmcxUg25vLrpOcENNcJLnWMZkDTZ9sy2oBMlK0+dAb85i2gUF/ba1ydsJ3vrbIc1J3Cvl1N12csZpb+IU/JE4H5vhbomXsz9ormduQqxOiOWtStK4pa231+e23e9IC4jLE17Qbg7FnahChEtIiYybw79yl/k5K5hf1+N0RX/VWJmBJ14ZYa91W31oFXH/ye1uTpZKSa7oD3ZXv48jvz9hTgr+bVq7fA11xJw+++Y0Ouj+vKtzOyTJu5HIqLVWLVu9gqc3bAop/m8q4Y8i6ZLTW62/NhQQQVoqyrIdvgXB2zZ7OR+hxnKc3nJn0ab9POLPOFoxLOM777db0jXtk8hgA3y8+SszpQ2qLiDkaOWBzcDQUGku/1QKJTLI53WlG+F3VvF9U7Cfh/aAhHLJdX2Ud6EwuuXjKR7bLJ9BP8koHafgSHbmMBuPeFNYS93oa3EaQwKy9tqfGVmBx8BGcPmNysC+NswS4Bo0Vfb3XOREm4CbBki6DOkrMswf8p6rVLW/93GiUUhNVSO+oyu6+rxGwv5Kj+WYx/3N6OWsc/Qw1npzfkw2i45c/0rEis8xYdlTowgy3o2xn8Goq7oxBIN0=
